<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<virtualType name="CommercepunditBrandmanagementGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
		<arguments>
			<argument name="appliers" xsi:type="array">
				<item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
				<item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
			</argument>
		</arguments>
	</virtualType>
	<virtualType name="CommercepunditBrandmanagementGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
		<arguments>
			<argument name="collection" xsi:type="object" shared="false">Commercepundit\Brandmanagement\Model\ResourceModel\Brandmanagement\Collection</argument>
			<argument name="filterPool" xsi:type="object" shared="false">CommercepunditBrandmanagementGridFilterPool</argument>
		</arguments>
	</virtualType>
	<virtualType name="Commercepundit\Brandmanagement\Model\ResourceModel\Brandmanagement\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">commercepundit_brandmanagement</argument>
			<argument name="resourceModel" xsi:type="string">Commercepundit\Brandmanagement\Model\ResourceModel\Brandmanagement</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="commercepundit_brandmanagement_index_listing_data_source" xsi:type="string">Commercepundit\Brandmanagement\Model\ResourceModel\Brandmanagement\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
</config>