<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route frontName="brands" id="brands" >
            <module name="Commerccepundit_Brandmanagement" />
        </route>
         <route frontName="allbrand" id="allbrand">
            <module name="Commercepundit_Brandmanagement"/>
        </route>
         <route frontName="single" id="single">
            <module name="Commercepundit_Brandmanagement"/>
        </route>
    </router>
</config>